{% extends 'base.html' %}

{% block content %}
	<header class="header">
		<h1>Bridg-It</h1>
	</header>
	<form id="index" method="POST">
		<div class="level">
			<button id="easy"  name="level" value="easy">Easy</button>
			<button id="medium" name="level" value="medium">Medium</button>
			<button id="hard" name="level" value="hard">Hard</button>
		</div>
		<div class="question"><span>Who begins?</span></div>
		<div class="move-order">
			<div class="order-buttons">
				<input id="player" type="radio" name="f-move" value="1" checked>
				<label for="player">Player</label>
				<input id="bot" type="radio" name="f-move" value="0">
				<label for="bot">Bot</label>
			</div>
			<div class="beginner">Player</div>
			<div class="color-buttons">
				<input id="red" type="radio" name="color" value="0">
				<label for="red">Red</label>
				<input id="blue" type="radio" name="color" value="1" checked>
				<labl for="blue">Blue</labl>
			</div>
		</div>
	</form>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('play.static', filename='js/beginner.js') }}"></script>
{% endblock %}
