{% extends 'base.html' %}

{% block content %}
    <a class="redo" href="{{ url_for('play.play_game') }}">
        <img id="redo" class="util" src="{{ url_for('play.static', filename='img/redo.png') }}"/>
    </a>
    <a class="back" href="{{ url_for('play.index') }}">
        <img id="back" class="util" src="{{ url_for('play.static', filename='img/back.png') }}"/>
    </a>
    <div class="canvas-wrapper">
        <canvas>Sorry, but something went wrong</canvas>
    </div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
<script type="module" src="{{ url_for('play.static', filename='js/index.js') }}"></script>
{% endblock %}