* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

.header {
    font-size: 40px;
    padding: 75px 0;
    font-weight: bold;
    text-align: center;
}

.main-content {
    display: flex;
    justify-content: center;
    align-content:  center;
    text-align: center;
}

.diff-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.diff-buttons button {
    padding: 40px 100px;
    margin-bottom: 15px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #333;
}

.diff-buttons button:hover{
    background-color: #555;
}

.radio-buttons {
    padding: 60px 0;
}

.radio-buttons p {
    font-size: 25px;
    font-weight: bold;
}

.canvas-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}